
<section id="work_outer"  style="background:#f56eab;"><!--main-section-start-->
 <div class="container">
    <section class="main-section " id="contact">
     <div class="row">
	   <h4>Register</h4>
	   
	     <div class="col-lg-6 wow fadeInUp delay-06s">
          <div class="form">
		  
       Regsiter to keep track of your account 
		 </div>
        </div>
	   
	   
	   
	  <div class="col-lg-6 wow fadeInUp delay-06s">
          <div class="form">		  
         <div> Company name </div><div> <input class="input-text animated wow flipInY delay-02s" ng-model="registermodel.name"  type="text" name="" value="Your Company name *" onFocus="if(this.value==this.defaultValue)this.value='';" onBlur="if(this.value=='')this.value=this.defaultValue;"></div>
         <div> Email</div><div>  <input class="input-text animated wow flipInY delay-04s" ng-model="registermodel.email" type="text" name="" value="Your E-mail *" onFocus="if(this.value==this.defaultValue)this.value='';" onBlur="if(this.value=='')this.value=this.defaultValue"></div>
         <div> Password</div><div>  <input class="input-text animated wow flipInY delay-04s" ng-model="registermodel.password" type="password" name="" value="Your E-mail *" onFocus="if(this.value==this.defaultValue)this.value='';" onBlur="if(this.value=='')this.value=this.defaultValue"></div>
		<div><input class="input-btn animated wow flipInY delay-08s" type="submit" ng-click="register(registermodel)" value="Register"></div>
         
		
		 </div>
        </div>
		
		 
		
      </div>
    </section>
  </div>
</section>
